{% extends 'layout.html' %}

{% block content %}

  <form action="" method="post">
      {% if form.errors %}
      
      <p>Введенное имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
      {% endif %}
      
      {% if next %}
          {% if user.is_authenticated %}
          <p>У ввведенной учетной записи нет доступа к выбранной странице. Войдите с учетной записью имеющей необходимые права.</p>
          {% else %}
          <p>Авторизируйтесь, чтобы увидеть необходимое содержимое.</p>
          {% endif %}
      {% endif %}
      
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <table class="">
            {{ form.as_table }}
            
            <td><input type="hidden" name="next" value="{{ next }}" /></td>
            <td><input type="submit" class="btn btn-primary" value="Войти" /></td>
        </table>
      </form>
      
      {# Assumes you setup the password_reset view in your URLconf #}
  </form>

{% endblock %}