body {
    min-height: 2000px;
    padding-top: 70px;
}

.brand-name-a {
    text-shadow: 1px 1px 1px black, 0 0 1em red; /* Параметры тени */
    color: white; /* Белый цвет текста */
    font-size: 2em
}

.brand-name-b {
  text-shadow: 1px 1px 1px black, 0 0 1em red; /* Параметры тени */
  color: white; /* Белый цвет текста */
  font-size: 2em
}

.form-login {
    border: 0;
    padding: 7px
}