{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>ПО "SService"</h1>
        
        <p>Предоставление единой точки входа для получения сервисов социальной направленности.</p>
        <p>Сервисы обрабатывают информацию, хранящуюся в отраслевых БД.</p>
        <p><ul>
                <li>Планируемые к реализации сервисы:</li>
                <ul>
                    <li>подтверждение права граждан в льготном проезде в муниципальном общественном транспорте</li>
                    <li>получение перечня признаков учета граждан, числящихся на учете в органах социальной защите</li>
                </ul>
                <li>Программное обеспечение предоставляет следующие интерфейсы:</li>
                <ul>
                    <li>Web</li>
                    <li>API для автоматического взаимодействия со сторонними ИС</li>
                </ul>
                <li>Гибкая система добавления новых сервисов позволяет "покрыть" практически все потенциальные потребности в получении информации для web-пользователей и сторонних ИС</li>
            </ul>            
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="/" role="button">На Главную &raquo;</a>
        </p>
    </div>    
{% endblock %}