{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>ПО "SService"</h1>
        
        <p>Предоставление единой точки входа для получения сервисов социальной направленности.</p>
        <p>Сервисы обрабатывают информацию, хранящуюся в отраслевых БД.</p>
        <br>
        <p>Планируемые к реализации сервисы:</p>
        <p>- подтверждение права граждан в льготном проезде в муниципальном общественном транспорте;</p>
        <p>- получение перечня признаков учета граждан, числящихся на учете в органах социальной защите.</p>
        <br>
        <p>Программное обеспечение предоставляет следующие интерфейсы:</p>
        <p>- Web;</p>
        <p>- API для автоматического взаимодействия со сторонними ИС.</p>
        <br>
        <p>Гибкая система добавления новых сервисов позволяет "покрыть" практически все потенциальные потребности в получении информации для web-пользователей и сторонних ИС.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/" role="button">На Главную &raquo;</a>
        </p>
    </div>    
{% endblock %}